extends layout

block content
	section(class='container-fluid backbone-section-header')
		div(class='row')
			div(class='col-md-6 col-md-offset-3')
				h1 Backbone examples		
				ul
					li 
						a(href='#backbone-srt-table') Sorting Table 
					li Image palette (coming soon...)
	section(class='container backbone-section-srt-table')
		div(class='row')
			div(class='col-md-12' id='backbone-srt-table')
				p this is the place				

