extends layout

block content
	nav(class='navbar navbar-fixed-top')
		div(class='container')
			ul(class='nav navbar-nav')
				li(class='active')
					a(href='#') Home
				li(class='active')
					a(href='#') About
				li(class='active')
					a(href='#') Contact
				li(class='dropdown')
					ul(class='dropdown-menu')
						li
							a(href='#') Another action
						li
							a(href='#') Action
			div(class='navbar-header')
	div(class='container-fluid')
		div(class='row')
			div(class='col-md-6 col-md-offset-3')
				p Hello My name is Ivan 
