doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Portfolio
		meta(name='description' content='simple portfolio')
		meta(name='author' content='ivg')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js") 
	body
		block content
