extends layout

block content
	section(class='container-fluid stack-section')
		div(class='row')
			div(class='col-md-6 col-md-offset-3')
				h1 Technology Stacks		
				h2 Operating system and database 
				ul
					li Development OS: Mac OS X 
					li Deployment OS: Ubuntu
					li Database: PostgerSQL and MongoDB
				h2 Front-End
				ul 
					li JS Framework: Backbone or React
					li CSS Framework: Bootstrap
					li CSS: SCSS notation
					li Libs: jQuery and jQuery UI 
					li Tools: Browserify
				h2 Back-End 
				ul
					li NodeJS
					li Language: JavaScript (CoffeeScript)
					li Framework: Express
					li Views: Jade(Pug) or Handlebars
					li Tests: Mocha, Chai, Chai-http, Sinon
					li Utility: Underscore
					li Linting: Eslint
				h2 Utility
				ul
					li Web Server: nginx
					li Process runner: PM2
				h2 Devops
				ul
					li Version Control: Git and GitHub
					li Local VM: Vagrant
					li Deployment: Webhooks on GitHub
				h2 Infrastructure
				ul
					li Hosting: Digital Ocean
					li DNS: NameCheap

